*{
  margin: 0px;

}
body{
    background-color: #eaeaea;
  }
 #tp{
    width: 75%;
    margin: auto;
    font-size: 1vw;
    background-color: #eaeaea;
    font-family: sans-serif;
  }
  #tp img{
      width: 100%;
  }
 
  .same:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
  }
  #page {
    /* border: 1px solid black; */
    height: auto;
    width: 1000px;
    margin: 15px auto;
  }
  
  /* navbar of above Logo */
  
  #nav1 {
    height: 28px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
  }
  #nav1 p {
    font-size: 12px;
    margin: 0 5px;
    background-color: #eaeaea;
  }
  #first {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #first i {
    font-size: 10px;
    height: 28px;
    width: 80px;
    text-align: center;
    line-height: 30px;
    color: darkslategray;
  }
  #second {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
  #second > input {
    border: transparent;
    padding: 5px;
    cursor: pointer;
  }
  .vl {
    border-left: 1px solid gray;
    height: 28px;
    margin-left: 5px;
  }
  #second i {
    font-size: 15px;
    color: darkslategray;
    margin-top: 8px;
  }
  
  /* The Hindu Logo */
  
  #logo {
    margin: 0;
  }
  #logo > img {
    display: block;
    margin: auto;
    width: 70%;
  }
  #logo p {
    /* font-size: 11px; */
    background-color: #eaeaea;
  }
  #logo > div > p:nth-child(2) {
    color: rgba(109, 102, 102, 0.806);
  }
  #logo > div {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
  }
  
  /* navbar 2 below Logo */
  #nav2 {
    position: sticky;
    top:0;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
  }
  #left {
    position:sticky;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  #left p,
  #left .content {
    /* font-size: 12px; */
    background-color: #eaeaea;
    display: flex;
    /* align-items: center; */
    margin: 0px;
  }
  /* #left>p>a{
    width:5%;
    
  } */
  #left p>a{
    /* font-size: 12px; */
    color:gray;
    text-decoration: none;
  }
  .content {
    margin-top: 12px;
  }
  #left > div:first-child > p {
    /* font-size: 9.5px; */
    margin-left: -10px;
  }
  #nav2 i {
    height: 22px;
    width: 28px;
    margin-top: 1px;
    margin-left: 2px;
    /* font-size: 27px; */
  }
  #right {
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #right > button {
    border-radius: 5px;
    padding: 7px;
    border: transparent;
    color: white;
    background-color: #00419b;
  }
   #right > button >a{
     color:white;
     background-color: #00419b;
   }
  #right > button:nth-child(2) {
    color: black;
    background-color: #ffc000;
  }
  #right > button:nth-child(2)>a{
    color:black;
    background-color: #ffc000;
    box-sizing: border-box;
    padding:5px;
  }
  #right > button:nth-child(2)>a:hover{
    color:white;
    background-color: #00419b;
  }
  #right > button:nth-child(3) {
    color: #00419b;
    border: 1px solid #00419b;
    background-color: #eaeaea;  
  }
  #right > button:nth-child(3)>a{
    color:#00419b;
    background-color: #eaeaea;
    box-sizing: border-box;
    padding:3px 3.5px;
  }
  #right > button:nth-child(3)>a:hover{
    color:white;
    background-color: #00419b ;
  }
  #right > button:hover {
    border: transparent;
    color: white;
    background-color: #00419b;
  }
  .elem {
    position: relative;
    display: inline-block;
  }
  .sub-content {
    display: none;
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
  }
  .extra {
    width: 115px;
    margin-top: 14px;
  }
  .extra2 {
    width: 130px;
  }
  .sub-content > a {
    text-decoration: none;
    font-size: 12px;
    background-color: white;
    display: block;
    padding: 10px 12px;
  }
  .content:hover {
    cursor: pointer;
  }
  .sub-content a:hover {
    color: black;
    font-weight: 700;
    cursor: pointer;
  }
  .elem:hover .sub-content {
    display: block;
  }
  
  /* 3rd common (trending) Part */
  
  #header {
    width: 65%;
    /* font-size: 10px; */
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  #header p {
    /* font-size: 14px; */
    color: red;
    background-color: #eaeaea;
    margin-top: 0px;
  }
  #header a {
    text-decoration: none;
    color: gray;
  }
  #header a:hover {
    text-decoration: underline;
  }
  #header img {
    height: 15px;
    width: 90px;
  }
     
            #tops{
                display:grid;
                grid-template-columns:33% 33% 30%;
                grid-template-rows: 29%,10%,10%,10%,10%;
                grid-template-areas: 
                "i i a1"
                "o t a1"
                "m n a2"
                "j h a2"
                "a3 a3 a3";
                gap:2%;
               /* margin: 20px; */
               height:75%;
                
            }
            #tops>div:nth-child(1){
                grid-area: i;
               
            }
            
            #tops>div>img{
                width: 100%;
            }
            
            #tops>div:nth-child(2){
                grid-area: o;
                background-color: white;
                
            }
            #tops>div:nth-child(3){
                grid-area: t;
                background-color: white;
                
            }
            #tops>div:nth-child(4){
                grid-area: m;
                background-color: white;
                
            }
            #tops>div:nth-child(5){
                grid-area: n;
                background-color: white;
               
            }
            #tops>div:nth-child(6){
                grid-area: j;
                background-color: white;
               
            }
            #tops>div:nth-child(7){
                grid-area: h;
                background-color: white;
                
            }
            #tops>div:nth-child(8){
                grid-area: a1;   
            }
            #tops>div:nth-child(8)>img{
                 margin-bottom: 30px;
            }
            #tops>div:nth-child(9){
                grid-area: a2;
             
            }
            #tops>div:nth-child(10){
                grid-area: a3;
                
            }
            #tops>div:nth-child(10)>img{
  
              padding-bottom: 8%;
              margin: auto;
           }
           
            #opinionnav>ul{
                display: flex;
                justify-content: left;
                list-style-type: none;
               color: white;
                background-color: rgb(19,59,90);
                margin: 0%;
                border-top-right-radius: 15px;
                padding-right: 15px;
            }
            #opinionnav>ul>li
            {margin-right: 3%;
            margin-left:-4.8%;
        }

            #opinionnav>ul>li>a{
                text-decoration: none;
                color: rgb(235, 232, 232);
              
                padding: 0px 20px 0px 10px;
                
            }
            #opinionnav>ul>li:hover{
               text-decoration: underline;
            }
            #opinionnav>ul>li>a.active{
               background-color: rgb(13,33,49);
            }
            
            #secondss{
                display: flex;
                /* height: 45px; */
                color: white;
                
            }
            #secondss>div:first-child{
                background-color: red;
                color: white;
            }
            #secondss>div:first-child>p{
               margin: 0%;
              
            }
            #secondss>div:nth-child(2)>h1{
               margin: 0%;
            }
            #secondss>div:nth-child(2){
                border-bottom-right-radius: 15px;
                margin: 0%;
                background-color: rgb(9,47,76);
                width: 100%;
            }
            #secondss>div:nth-child(3){
                border-bottom-left-radius: 15px;
                width: 25%;
                background-color: rgb(9,47,76);
            }
            #topnav{
                display: flex;
                
            }
           
            #topnav>div:nth-child(2){
                background-color: rgb(9,47,76);
                border-top-left-radius: 15px;
                width: 24%;
            }
            #topnav>div:nth-child(1){
                width: 100%;
            }
            
            #date{
                width: 4%;
            }
            #topline{
                display: flex;
                justify-content: space-between;
                margin-top: 60px;
                /* margin-bottom: -10px; */
            }
            
           .ff{
               display: flex;
               justify-content: space-between;
           }
           .ff p{
               padding: 0px 10px 0px 10px;
           }
           .ff>div{
               height: 100%;
               width:100%
           }
           .ff>div:first-child{
               width: 65%;
           }
        
         
         
         .triangle-right {
	
	border-top: 8px solid transparent;
	border-left: 10px solid rgb(13,33,49);
	border-bottom: 8px solid transparent;
    display: inline-block;
    
   
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 8px solid transparent;
	border-top: 7px solid rgb(248, 245, 245);
    margin: auto;
}

#firsttt{
    display: inline-block;
}
#opan{
    display: flex;
    justify-content: space-between;
   margin: auto;
}
.blue{
    color: rgb(10, 55, 138);
}
#opan>div{
margin: 5px;
background-color: white;
width: 20%;

}

#opan>div:last-child{
    width: 33%;
}
#opan>div>img{
    width: 100%;
    padding: 0px;
}
#opan>div>h4,h5,p,h6{
 
    padding: 0px 10px 0px 10px;
}
#opan>div:last-child{
   
    justify-content: center;
    color: white;
    background-color: transparent;
}
#opan hr{
    border-style: dashed;
    color: grey;
}
#opan>div:last-child>div{
    padding: 10px;
}
#opan>div:last-child>div>img{
    width: 100%;
}
#bb{
    width: 100%;
}
#bb>div{
    margin: 0px;
}
#bb>div:first-child{
    background-color: rgb(19,59,90);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
#bb>div:nth-child(2){
    background-color: rgb(19,59,90);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }
 #bb>div:nth-child(3){
    background-color: rgb(19,59,90);
 }
 h1:hover,
 h2:hover,
 h3:hover,
 h4:hover,
 h5:hover,
 h6:hover,
 .blue:hover,
 p:hover{
     text-decoration: underline;

 }
 #topline>h2{
    margin-bottom: -10px;
    background-color:#eaeaea;;
    padding: 5px;
  }
/* footer */
#foot p{
  padding: 0px;
  margin: 0px;
}
#top {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#top > #header {
  width: 580px;
}
#top p,
a {
  /* font-size: 14px; */
}
#top img {
  height: 15px;
  width: 18%;
}

/* Go to top Page  */

#top i {
  /* font-size: 20px; */
  color: rgb(133, 128, 128);
  margin-right: 20px;
}
#top i:hover {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

/* Sliding Part */
#bottom{
  height:150px;
  width:100%;
  background-color: #eaeaea;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
#moving,#moving2{
  height:100%;
  width:50%;
  display: flex;
  position: relative;
}
#moving>img,#moving2>img{
  height:100%;
  width:50%;
  margin: auto;
}
#moving>p,#moving2>p{
  /* font-size: 18px; */
  line-height: 28px;
  width:285px;
  background-color: white;
  padding:10px;
  padding-top: 20px;
}
#moving>button:nth-child(3),#moving2>button:nth-child(3){
  position: absolute;
  top:40%;
  left:10px;
  border:1px solid black;
  border-radius: 50%;
  background-color: rgba(12, 108, 110, 0.649);
  padding:12px;
}
#moving>button:nth-child(4),#moving2>button:nth-child(4){
  position: absolute;
  top:40%;
  right:10px;
  border:1px solid black;
  border-radius: 50%;
  background-color: rgba(12, 108, 110, 0.649);
  padding: 12px;
}

/* Navbar Part */

#foot {
  margin-top: 40px;
}
#foot1 {
  height: 28px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: gray;
}
#foot1 p {
  /* font-size: 12px; */
  margin: 0 5px;
  background-color: #eaeaea;
}
#f12 {
  height: 28px;
  margin-top: -5px;
}
#f12 > img {
  height: 100%;
}

/* Part 2 */

#foot2 {
  height: 250px;
  background-color: white;
  display: flex;
}
#part1 + div {
  border-left: 1px dashed darkslategrey;
  margin: 30px 0px;
}
.foot2_same {
  margin: 40px 30px;
  background-color: white;
}
.foot2_same > p {
  /* font-size: 14px; */
  line-height: 28px;
  color: rgba(109, 102, 102, 0.806);
}
.foot2_same > p:nth-child(1) {
  color: #133b5a;
  font-weight: 500;
  margin-bottom: 2px;
}
#part3 > p:nth-child(2) {
  color: #52b1e2;
  font-weight: 500;
}
/* dashed part of Part 2 */
#part2 + div {
  border-left: 1px dashed darkslategrey;
  margin: 30px 0 105px;
}

/* Part -3 */

#foot3 {
  height: 200px;
}
#foot31 {
  height: 50px;
  width: 75%;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
#foot31 > p {
  /* font-size: 12px; */
  font-weight: 600;
  color: slategrey;
  background-color: #eaeaea;
}
#foot32 {
  height: 110px;
  width: 90%;
  line-height: 28px;
  text-align: center;
  display: flex;
  margin: 10px auto auto auto;
}
#foot32 > p {
  /* font-size: 14px; */
  color: gray;
  background-color: #eaeaea;
}
#foot32 span {
  /* font-size: 15px; */
  font-weight: 200;
  color: #00419b;
  margin-left: 15px;
}
#foot33 > p {
  text-align: center;
  color: gray;
  /* font-size: 14px; */
  background-color: #eaeaea;
}